body {
  cursor: default;
  /* Hide the default cursor */
  /* cursor: none;  */
}

.custom-cursor {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: inherit;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10000;
  transform: translate(-50%, -50%);
}

.custom-follower {
  width: 40px;
  /* Adjust size for the follower */
  height: 40px;
  /* Adjust size for the follower */
  border-radius: 50%;
  background-color: #770d9527;
  /* Light gray with transparency */
  position: fixed;
  top: -18px;
  left: -18px;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}